@media (min-width: 1200px) {
  .container {
    /*max-width: 2000px;*/
  }
}

.table .tbody-transenix {
  width: 1650px;
  /*width: 2000px;*/
  min-height: 250px;
  max-height: 625px;
  display: inline-block;
  overflow: auto;
  border-right: solid #00275e 1px;
}

/*.multiselect-dropdown .dropdown-btn .selected-item span {*/
  /*border: 1px solid #00275e;*/
  /*background: #fff;*/
  /*color: #000;*/
/*}*/

/*.multiselect-dropdown .dropdown-btn .selected-item span a {*/
  /*color: #00275e;*/
/*}*/
