.table thead th {
  border-bottom: 0;
}

.table td, .table th {
  padding: 10px 10px 17px 10px;
  vertical-align: top;
  border-top: 0;
}

.horizontal-container {
  width: 1200px;
}
.vertical-container {
  height: 598px;
}

.vertical-container,
.horizontal-container {
  min-width: 0 !important;
  min-height: 0 !important;
}

@media (min-width: 650px) {
  .container {
    max-width: 100%;
  }
}

/*.multiselect-dropdown .dropdown-btn .selected-item span {*/
  /*border: 1px solid #00275e !important;*/
  /*background: #fff !important;*/
  /*color: #000 !important;*/
/*}*/

/*.multiselect-dropdown .dropdown-btn .selected-item span a {*/
  /*color: #00275e !important;*/
/*}*/

/*.multiselect-dropdown .dropdown-btn {*/
   /*border: 0 !important;*/
/*}*/
